/* global vars */

$mainColor: #353d51;
$secColor: #29abe2;
$mainLight: #00a78e;
$textColor: #3f3f3f;
$fontFamily: "cairo";

@font-face {
  font-family: "cairo";
  src: url(../fonts/Cairo-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "cairo";
  src: url(../fonts/Cairo-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "cairo";
  src: url(../fonts/Cairo-SemiBold.ttf);
  font-weight: 600;
}

body {
  font-family: $fontFamily;
  text-align: start;
}

.typed-cursor {
  display: none;
}
.upperNav {
  background-color: $mainLight;
  padding: 12px;
  text-align: center;
  a {
    margin-inline-end: 16px;
    text-decoration: none;
  }
}
.navbar {
  background-color: #fff;
  height: 80px;
  padding: 0 15px;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  z-index: 999;

  .navbar-brand {
    margin: 0;
  }
  #navbarSupportedContent {
    @media (max-width: 991px) {
      position: absolute;
      top: 81px;
      background-color: #f5f5f5;
      width: 100%;
      right: 0;
      padding: 15px;
    }
  }
  .nav-item {
    transition: .5s;
    .nav-link {
      padding: 0 12px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $mainColor;
      @media (max-width: 991px) {
        width: fit-content;
        justify-content: flex-start;
        border-radius: 5px;
      }
    }
  }
  .nav-item.active {
    .nav-link {
      background-color: $mainColor;
      color: $secColor;
    }
  }
  .log-now {
    display: flex;
    .login,
    .signup {
      padding: 12px;
      border: 2px solid $secColor;
      color: $mainColor;
      font-weight: bold;
      font-size: 14px;
      margin-inline-end: 8px;
      text-decoration: none;
      border-radius: 5px;
    }
    .signup {
      background-color: $secColor;
    }
  }

  .langs {
    margin-inline-start: 24px;
    font-weight: bold;
    color: $mainColor;
    text-decoration: none;
    svg {
      margin-inline-start: 5px;
    }
  }
}

/*header*/
header {
  padding: 130px 0 50px;

  main {
    h1 {
      font-size: 28px;
      font-weight: 600;
      line-height: 43px;
      color: $mainLight;
      margin-bottom: 24px;
    }
    .typedElement {
      padding: 12px;
      color: $textColor;
      font-weight: bold;
      font-size: 18px;
      min-height: 50px;
      padding: 0;
      margin: 0;
      background-color: $secColor;
      border-radius: 5px;
      display: flex;
      align-items: center;
      color: $mainColor;
      justify-content: center;
    }
  }
}

/*join-us*/
.join-us {
  padding: 24px 0;
  background-color: $mainColor;
  h5 {
    font-weight: bold;
    color: $secColor;
    font-size: 24px;
    margin: 0;
    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
  }
  .form-group {
    @media (max-width: 425px) {
      flex-wrap: wrap;
      .form-control {
        margin-bottom: 16px;
      }
    }
    button {
      border: none;
      background-color: $secColor;
      padding: 12px 24px;
      margin-inline-start: 8px;
      border-radius: 5px;
      color: $mainColor;
      font-weight: bold;
      @media (max-width: 425px) {
        width: 100%;
      }
    }
    .form-control {
      margin: 0 8px;
      @media (max-width: 425px) {
        margin-bottom: 16px;
      }
    }
  }
}

/*features*/
.features {
  padding: 50px 0;
  text-align: center;

  h2 {
    margin: auto;
    font-size: 36px;
    font-weight: bold;
    width: 75%;
    color: $textColor;
    @media (max-width: 425px) {
      width: 100%;
      margin-bottom: 36px;
      font-size: 28px;
    }
  }

  .feat-content {
    text-align: start;
    h4 {
      color: $mainColor;
      font-weight: bold;
      font-size: 24px;
      position: relative;
      margin-bottom: 24px;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -14px;
        display: block;
        height: 3px;
        background-color: $mainColor;
        width: 14%;
        border-radius: 8px;
      }
    }
    ul {
      padding: 0;
      li {
        padding: 8px;
        i {
          color: $mainColor;
          margin-inline-end: 5px;
        }
        span {
          color: $mainLight;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }
}

/*about-us*/
.about-us {
  font-family: $fontFamily !important;
  padding: 50px 0;
  background-color: $secColor;
  h2 {
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 36px;
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 45px;
    font-weight: 600;
  }
  .large-img {
    text-align: start;
    img {
      width: 50%;
    }
  }
  .about-desc {
    h4 {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 24px;
    }
    p {
      span {
        display: inline-block;
        margin: 0 8px;
        font-weight: bold;
        padding: 4px 16px;
        background-color: $mainColor;
        color: $secColor;
      }
    }
  }
}

/*faq */
.faq {
  padding: 50px 0;
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: $textColor;
    margin-bottom: 36px;
  }
  #accordion {
    .card {
      margin-bottom: 16px;
      .card-header {
        background-color: #f9f9f9;
        padding: 4px;
        h5 {
          button {
            display: block;
            width: 100%;
            text-align: start;
            color: $secColor;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none !important;
            white-space: normal;
            padding: 4px;
          }
        }
      }
    }
  }
}

.hide {
  display: none;
}
.Show-more {
  text-align: center;
  span {
    padding: 8px 16px;
    display: inline-block;
    background-color: $secColor;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
}

footer {
  background-color: $mainColor;
  padding: 50px 0 84px;
  position: relative;
  .footer-links {
    h4 {
      font-weight: bold;
      color: $secColor;
      margin-bottom: 24px;
    }
    a {
      display: block;
      color: #fff;
      font-weight: 600;
      margin-bottom: 16px;
      display: block;
      text-decoration: none;
      font-size: 14px;
    }
  }
  .social {
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 16px;
    background-color: $secColor;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      margin: 0 12px;
    }
  }
}

/*terms*/
.terms {
  padding-top: 120px;
  padding-bottom: 40px;
  h2 {
    font-weight: bold;
    color: $secColor;
    margin-bottom: 32px;
  }
  .terms-desc {
    color: $mainColor;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
  }

  .card{
    margin-bottom: 16px;
    ul{
      list-style: decimal;
      li{
        margin-bottom: 8px;
      }
    }
  }
  .card-header {
    background-color: rgba(41, 171, 226, 0.1);
    .btn-link {
      color: $secColor;
      background-color: transparent;
      font-weight: bold;
      display: block;
      width: 100%;
      text-align: start;
      padding: 0;
      text-decoration: none;
      text-transform: capitalize;
    }
  }

}


/*scrollToTop*/ 
.scrollToTop{
  position: fixed;
  display: none;
  bottom: 3%;
  left: 2%;
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  z-index: 666;
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
  .icon{
    width: 100%;height: 100%;
    display: flex;align-items: center;
    justify-content: center;
  }
}

/*ltr */

body[dir="ltr"] {
  .features .feat-content h4::after {
    left: 0;
  }
  .scrollToTop{
    left: auto;
    right: 2%;
  }
}
